<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/change}" th:object="${changeuser}">
    <input type="hidden" id="id" th:field="*{id}">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}">
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}">
    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}">
    <br>

    <label for="phonenumber">Phone:</label>
    <input type="text" id=phonenumber th:field="*{phonenumber}">
    <input type="text" th:field="*{username}" id="username">
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <label>Role: </label>
    <select name="rolename" multiple>
        <option th:each="role : ${allRoles}"
                th:value="${role.name}"
                th:text="${role.name.replace('ROLE_', '')}">
        </option>
    </select>
    <br/>
    <input type="submit">Update</input>
</form>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>