<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Phonenumber</th>
        <th scope="col">Role</th>
        <th scope="col">DeleteUser</th>
        <th scope="col">UpdateUser</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${requestusers}">
        <td th:text="${user.id}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.email}"/>
        <td th:text="${user.age}"/>
        <td th:text="${user.phonenumber}"/>
        <td>
            <span th:each="role, iterStat : ${user.roles}">
            <span th:text="${role.name.replace('ROLE_','')}"></span>
            <span th:if="${!iterStat.last}">, </span>
            </span>
        </td>
        <td>
            <form th:method="POST" th:action="@{/admin/delete}"  >
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <a th:href="@{/admin/change(id=${user.id})}">Update user information</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a th:href="@{/admin/new}">Create new user</a>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>